/*
foolpage content script css
Defines the style for the dock iframe and iframe container
*/

/*
Note: Keep the background-color equal to the border color for a seemless, round border.
*/
#dockIframeContainer {
  display: table;
  position:fixed;
  /*  width: 200px; */
  /* Only top and left should be used because jquery drag uses those for positioning*/ 
  top: 50px;
  left: 100px;
  background-color:#eee;
  border:11px solid #eee;
  border-radius:12px;
  box-shadow:4px 4px 14px #000;
  opacity:0.3;
  z-index:999998;
/* Reset any non-used possibly-inherited values that may adversely affect the div style/placement*/
  margin: 0px;
  padding: 0px;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  overflow: hidden;
/*
  -webkit-transform: rotate(20deg);
*/
}

#dockIframe {
  border:none;
  border-radius:10px;
  background-color:#ddd;
  overflow-y: hidden;
  z-index:999999;
}

