<!-- Foolscreen dock html page-->

<head>
  <title>Foolscreen dock iframe</title>
  <link rel="stylesheet" type="text/css" href="dock.css"></link>
</head>

<div id="dockIframeInnerContainer">
<!-- XXX
  <div id="dockTestButtonContainer">
    <button id="dockTestButton">Click me!</button>
  </div>
-->
  <div id="dockNavListContainer">
    <ul id="dockNavList">
      <li id="active"><a href="#" id="current">Item one</a></li>
      <li><a href="#">Item two</a></li>
      <li><a href="#">Item three</a></li>
      <li><a href="#">Item four</a></li>
      <li><a href="#">Item five</a></li>
    </ul>
  </div>
  <div id="dockAddrContainer">
    <input id="dockAddr" type=text name="SomeName"></button>
  </div>
</div>

<script type="text/javascript" src="dock.js"></script>
