/* Foolscreen dock bar style*/

body {
/* By default the iframe will inherit a margin of 8px */
  margin: 2;
/* Prevent any scrollbars from appearing */
  overflow: hidden;
}

.favIcon {
  width: 12;
  height: 12;
  padding-right: 3px;
  vertical-align: top;
}

#dockTestButton{
  background-color: #aaa;
  border-radius: 4;
}

#dockIframeInnerContainer{
  display: table;
}

#dockNavListContainer {
  display: table;
  text-align: center;
  font-size: 55%;
  font-family: verdana,helvetica,arial,sans-serif;
  background: #ccc;
  border-radius:12px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#dockNavListContainer ul {
  display: block;
  position: relative;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  z-index: 2;
}

#dockNavListContainer li {
  display: inline-block;
  max-width: 140;
  text-align: left;
  margin: 1px 1px;
/* note: If x-padding is non-zero, then the border-radius may be rendered incorrectly */
  padding: 1px;
/* prevent wrapping of long lines */
  white-space: nowrap;
/* prevent scrollbars from appearing*/
  overflow: hidden;
/* truncate any long lines like so: 'this_is_an_exam...' */
  text-overflow: ellipsis;
  border-radius:12px;
}

#dockNavListContainer p {
  display: inline;
  padding-left: 3;
}

#dockNavListContainer li a{
  display: inline;
  text-decoration: none;
  color: #666;
  background-color: #ccf;
  border: 0px solid #ccc;
/* note: If x-padding is non-zero, then the border-radius will be rendered incorrectly */
  padding: 1px 6px;
  border-radius:12px;
}

#dockNavListContainer li a:hover {
  color: #000;
  background-color: #aaa;
}

#dockNavListContainer li a.activeTab {
  white-space: nowrap;
  background-color: #fff;
}

#dockAddrContainer {
  display: block;
  text-align: center;
}

#dockAddr {
  position: relative;
  min-width: 294px;
  width: 95%;
  margin: auto;
  padding: 0px 4px 0px 4px;
  font-size: 60%;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  border-radius: 9;
}
