/* Foolscreen new tab style*/

body {
/* By default the iframe will inherit a margin of 8px */
  margin: auto;
  text-align: center;
  position: relative;
  top: 20%;
 * Prevent any scrollbars from appearing */
  overflow: hidden;
}

.favIcon {
  width: 12;
  height: 12;
  padding-right: 3px;
  vertical-align: top;
}

#newtabTestButton{
  background-color: #aaa;
  border-radius: 4;
}

#newtabOuterContainer{
  display: block;
  margin: auto;
  width: 40%;
}

#newtabAddrContainer {
  display: block;
  text-align: center;
}

#newtabAddr {
  position: relative;
  min-width: 286px;
  width: 95%;
  margin: auto;
  padding: 0px 4px 0px 4px;
  font-size: 60%;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  border-radius: 9;
}
