<!-- Foolscreen new tab html page-->

<head>
  <title>Foolscreen new tab page</title>
  <link rel="stylesheet" type="text/css" href="newtab.css"></link>
</head>

<div id="newtabOuterContainer">
  <div id="newtabTestButtonContainer">
    <button id="newtabTestButton">Click me!</button>
  </div>
  <div id="newtabAddrContainer">
    <input id="newtabAddr" type=text name="SomeName"></button>
  </div>
</div>

<script type="text/javascript" src="newtab.js"></script>
<!--
-->
